<$MTIncludeModule module="banner-extra"$>
<div id="banner">
<div id="banner-logo"><MTTypeCastIcon icon="banner-logo"></div>
<h1><$MTUserAboutPageTitle$></h1>
</div>
<$MTIncludeModule module="banner-ad"$>
<hr class="border" />
