<mt:include name="include/banner-extra.tmpl">
<div id="banner">
<h1><$MTBlogName$></h1>
<MTIfNonEmpty tag="MTBlogDescription"><h2><MTBlogDescription></h2></MTIfNonEmpty>
</div>
<mt:include name="include/banner-ad.tmpl">
<hr class="border" />
