<$MTIncludeModule module="banner-extra"$>
<div id="banner">
<div id="banner-logo"><MTTypeCastIcon icon="banner-logo"></div>
<h1><$MTBlogName$></h1>
<MTBlogIfDescription><h2><$MTBlogDescription$></h2></MTBlogIfDescription>
</div>
<$MTIncludeModule module="banner-ad"$>
<hr class="border" />
