<MTTypeCastIfPrevOrNextEntries>
<hr class="border" />
<div class="nav">
<MTTypeCastIfPrevEntries>
<a href="<$MTTypeCastPrevEntriesLink encode_html="1"$>"><__trans phrase="Previous"></a>
<MTElse>
<__trans phrase="Previous">
</MTElse>
</MTTypeCastIfPrevEntries>
 | 
<MTTypeCastIfNextEntries>
<a href="<$MTTypeCastNextEntriesLink encode_html="1"$>"><__trans phrase="Next"></a>
<MTElse>
<__trans phrase="Next">
</MTElse>
</MTTypeCastIfNextEntries>
</div>
</MTTypeCastIfPrevOrNextEntries>
