<MTEntries>
<h2 class="entry-header"><a href="<MTEntryPermalink encode_html="1">"><MTEntryTitle></a></h2>
<p><MTEntryExcerpt sanitize="p,div style,span style,hr,ul,li,br/" convert_breaks="0"></p>

<p class="entry-footer">
<MTIfNonEmpty tag="MTEntryCategories">
<MTEntryCategories glue=" | "><a href="<$MTCategoryArchiveLink encode_html="1"$>"><$MTCategoryLabel$></a></MTEntryCategories><br />
</MTIfNonEmpty>

<MTEntryCreatedDate format="%x %X"><br />

<MTIfCommentsActive>
<a href="<MTTypeCastCommentLink encode_html="1">"><__trans phrase="Comments">(<MTEntryCommentCount>)</a><br />
</MTIfCommentsActive>
</p>
</MTEntries>
