<?xml version="1.0" encoding="<$MTPublishCharset$>"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=<$MTPublishCharset$>" />
<MTTypeCastBlogIfPrivate>
<meta name="robots" content="noindex,nofollow" />
</MTTypeCastBlogIfPrivate>
<link rel="stylesheet" type="text/css" href="<$MTStaticWebPath$>themes/common/mobile.css" />
<title>An error occurred:</title>
</head>
<body class="body">
<div id="container">
