<$MTIncludeModule module="header-common"$>
<title><$MTBlogName$><MTIfVar name="archive_title">:<$MTGetVar name="archive_title" remove_html="1"$></MTIfVar></title>
</head>
<body class="body">
<$MTIncludeModule module="stats"$>
<div id="container">
