<$MTSetVar name="category_archives_page" value="1"$>
<$MTIncludeModule module="header-archives"$>
<$MTIncludeModule module="banner-archives"$>

<h2 class="comments-header"><$MTArchiveHeader encode_html="1"$></h2>

<$MTIncludeModule module="entry-list"$>
<$MTIncludeModule module="entry-list-navigation"$>
<$MTIncludeModule module="footer"$>
