<$MTIncludeModule module="header"$>
<div id="banner">
<h1><$MTBlogName$></h1>
</div>
<hr class="border" />
<h2 class="entry-header">TrackBack on <a href="<$MTEntryPermalink encode_html="1"$>"><$MTEntryTitle$></a></h2>
<hr class="border" />
<MTPings>
<h3 id="p<$MTPingID$>">&raquo; <$MTPingTitle$> from <$MTPingBlogName encode_html="1"$></h3>
<p><$MTPingExcerpt$></p>
<p class="posted">at <$MTPingDate$></p>
<hr class="border" />
</MTPings>
<p class="nav">Prev | Next</p>

<$MTIncludeModule module="footer"$>
