<$mt:setvar name="main_index_page" value="1"$>
<mt:include name="include/header-index.tmpl">
<mt:include name="include/banner-index.tmpl">
<mt:include name="include/entry-list.tmpl">
<mt:include name="include/entry-list-navigation.tmpl">
<mt:include name="include/footer.tmpl">
