<$mt:setvar name="redirect_confirm_page" value="1"$>
<mt:include name="include/header-system.tmpl">
<mt:include name="include/banner-system.tmpl">

<p>
<__trans phrase="We don't guarantee the linked URL has mobile optimized version."><br />
<a href="<$MTTypeCastRedirectURL encode_html="1">"><$MTTypeCastRedirectURL encode_html="1"$></a>
</p>

<mt:include name="include/footer.tmpl">
