<mtapp:setting id="typecast" label="TypeCast CGI URL">
<ul>
  <li>
    <input type="text" id="tc_cgi_url" name="tc_cgi_url" value="<TMPL_VAR NAME=TC_CGI_URL>" size="75" />
    <p>Please input the full URL of tc.cgi.</p>
  </li>
</ul>
</mtapp:setting>
